<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - okta_aspnetcore_mvc_example</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Okta OIDC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">


                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <p class="navbar-text">Hello, @User.Identity.Name</p>
                            </li>
                            <li><a class="nav-link" asp-controller="Home" asp-action="Profile" id="profile-button">Profile</a></li>
                            <li>
                                <form class="form-inline" asp-controller="Home" asp-action="LogOut" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark" id="logout-button" id="profile-button">Log Out</button>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Home" asp-action="Login" id="login-button">Log In</a></li>
                        </ul>
                    }
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
</nav>
    </header>

    @if (TempData["message"] != null)
    {
        <div id="signin-feedback" class="infobox">
            <span class="glyphicon glyphicon-exclamation-sign form-alert"></span>
            @TempData["message"]
        </div>
    }

    <div class="sign-in-header">
        <div class="logo" align="center">
            <img src="~/img/logo_acme.png" alt="Acme ID">
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2019 - okta_aspnetcore_mvc_example - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@

            <a href="https://okta.com/" class="inline-block notranslate">Acme ID. All rights reserved</a>
            <hr />
            <a href="https://okta.com/pri-privacy-notice-t4.html" class="inline-block margin-l-10">Privacy Policy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
